/* css styles */

@font-face {
  font-family: 'ZTChintzy';
  src: url('../fonts/zt-chintzy/ZTChintzy-Heavy.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.navbar-title {
  font-family: 'ZTChintzy', sans-serif;
  background-color: #4682B4;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.quarto-title-banner {
  /*padding-top: 62px;  Adjust this value to match the height of your navbar */
  padding-top: 65px;
}

main {
  text-align: justify;
}

figcaption {
  text-align: left;
}

.social-share {
  justify-content: space-evenly;
}

/* Desktop styles */
@media (min-width: 768px) {
  figcaption {
    width: 500px;
    margin: 0 auto;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  figcaption {
    width: auto;
  }
}

.quarto-title-block .quarto-title-banner {
  background: #4682B4;
}


